@page
@model yoyocosmeRazor_Temp.Pages.Categories.CreateModel


<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-1">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border  rounded p-3 col-12">
                <label asp-for="Category.Name" class="ms-2"></label>
                <div class=" py-2">
                    <input asp-for="Category.Name" class="form-control border-0 shadow-none" style="background-color: #f0f0f0;" />

                    <span asp-validation-for="Category.Name" class="text-secondary"></span>
                </div>
                <label asp-for="Category.DisplayOrder" class="ms-2 "></label>
                <div class=" py-2">
                    <input asp-for="Category.DisplayOrder" class="form-control border-0 shadow-none" style="background-color: #f0f0f0;" />

                    <span asp-validation-for="Category.DisplayOrder" class="text-secondary"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-page="/categories/index" class="btn btn-outline-dark form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
